// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



$primary:       #7B1113 !default;
$secondary:     #2D2B52 !default;
$success:       #24A565 !default;
$info:          #92DBFE !default;
$warning:       #FDC111 !default;
$danger:        rgb(255, 40, 40) !default;
$light:         #ddd !default;
$dark:          #222 !default;

